.RecommendationsWrapper {
  padding: 10px 350px;
}

.RecommendationsHeader {
  margin: 22px 0;
  font-weight: 400;
  font-size: 20px;
  color: #333;
}

.RecommendationsContent {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.RecommendationsCard {
  width: 350px;
  height: 360px;
  overflow: hidden;

  border-radius: 0;
  border: 1px solid #c8c9c7;
  background: #fff;
  margin: 10px;
  -webkit-box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 5px 5px #acacac;
    cursor: pointer;
  }
}

.CardHeader {
  display: block;
  overflow: hidden;
  height: 150px;
  width: 350px;
  box-sizing: border-box;

  img {
    position: relative;
    bottom: 20px;
    object-fit: cover;

  }
}

.cardDescription {
  font-family: Helvetica Neue, Helvetica, sans-serif;

  h1 {
    font-size: 20px;
    font-weight: 300;
    color: #006fcf;
    line-height: 1.5;
  }

  h2 {
    color: #53565a;
    font-weight: 100;
    font-size: 13px;
  }

  p {
    font-weight: 100;
    font-size: 13px;
  }

  padding: 10px 16px;
}

.cardPrice {
  color: #333;
  font-weight: 700;

  font-family: BentonSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}